.especial{
    /* background-color: pink; */
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.3);
    width: 22rem;
    height: 20rem;
    border-radius:10px;
    margin-top: 5em;
    position: relative;
}
.comida{
    width: 4rem;
    border-radius: 50%;
}

.prod{
 font-size: 1.8rem;
 letter-spacing: 0.8px;
 margin-bottom: 0.2em;
position: absolute;
bottom: 3em;
left: 0.6em;
   
}

.estrellas{
    position: absolute;
    top: 14.2rem;
    left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.num{
    color: gray;
    font-size: 0.6rem;
    margin-left: 0.5em;
}
.precio{
    position: absolute;
    top: 10em;
    font-weight: bold;
    left: 0.7em;
    color: #84B74E;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.bolsa{
    background-color: #84B74E;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5em;
    border-radius:8px;
    cursor: pointer;
}

.bolsasa{
  background-color: transparent;
  width: 2.3em;
  height: 2.3em;
}
