footer{
    width: 100vw;
    background-color: rgb(229,241,217);
    display: flex;
    justify-content: center;
    padding: 4rem 0rem;
}
.contenedor-footer{
    width: 85vw;
    display: flex;
    justify-content: space-between;
}
footer h2{
    font-size: 2.5rem;
    margin: 0;
}
footer a{
    font-size: 1.5rem;
    color: grey;
    transition: all 250ms;
}
footer a:hover{
    color: black;
}