.tarjeta{
    background-color: white;
    border-radius: 25px;
    width: 21rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgb(209, 205, 205);
}
.tarjeta img{
    width: 14rem;
    border-radius: 50%;
    border: 0.9rem solid var(--verde--oscuro);
    position: absolute;
    bottom: 14rem;
    left: 3rem;
}
.tarjeta-textos{
    padding: 9rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tarjeta-textos h2{
    font-size: 1.7rem;
    width: 80%;
    margin: 0rem;
}
.tarjeta-textos p{
    color: var(--gris);
    width: 70%;
    margin-top: 0.5;
}
.opciones-comprar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.opciones-comprar p{
    border: 1px solid var(--negro);
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--negro);
    user-select: none;
}
.opciones-comprar button{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar button:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}