.chefs{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: 0 auto;
}
.contenedor-chefs{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-chefs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.texto-chefs h2{
    margin-top: 1rem;
    margin: 0;
    font-size: 3rem;
}
.texto-chefs p{
    color: gray;
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.chefs-img{
    margin: 3rem 0rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.uno{
    background-color: #E5F1D9;
    width: 24rem;
    height: 30rem;
    border-radius: 10px;
    padding-top: 1.5rem;
}
.dos{
    background-color: #E5F1D9;
    width: 20rem;
    height: 32rem;
    border-radius: 10px;
    padding: 1rem 2rem 0rem 2rem;
    margin: 5rem 4rem 0rem;
}

.tres{
    background-color: #E5F1D9;
    width: 24rem;
    height: 32rem;
    border-radius: 10px;
    padding-right: 1rem;
}