
.header-derecha{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.header-iconos a{
    font-size: 1.2rem;
    margin-left: 0.8rem;
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    transition: all 200ms ease;
}
.header-iconos a:hover{
    color: var(--verde-claro);
}
.registrarse button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    border: none;
    background-color: var(--blanco);
    padding: 0.7rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 200ms ease;
}
.registrarse button:hover{
    color: var(--verde-claro);
}